:root{
    --azul-fundo: #3069d5;
    --branco: #ffff;
    --preto: #0000;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--azul-fundo);
}
#setaBack{
    width: 13vw;
    height: 10vh;
    float: left;
}
#setaBackImg{
    width: 6vw;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 2vw;
}
#casaIcon{
    width: 17vw;
    height: 10vh;
    margin-left: 32.5vw;
    margin-top: 2vh;
}

#titulo{
    color: var(--branco);
    font-size: 3vh;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
}
#mapa{
    width: 55vw;
    height: 25vh;
    background-color: var(--branco);
    margin-left: 23vw;
    margin-bottom: 4vh;
}

.desLocais{
    font-size: 2.5vh;
    width: 60vw;
    margin-left: 19vw;
    text-align: center;
    color: var(--branco);
    margin-top: 0;
    margin-bottom: 2vh;

}
#automoveis{
    margin-left: 2vw;
    display: block;
    width: 100%;
    height: 10vh;
}
.tituloautomoveis{
    font-size: 1.4vh;
    margin-top: 0%;
    padding-top: 1vh;
    text-align: center;
}
.atituloss{
    text-decoration: none;
    color: black;
}
.escolhasDeIr{
    width: 17vw;
    height: 10vh;
    background-color: var(--branco);
    margin-left: 5vw;
    float: left;
}
.imgsTransporte{
    width: 12vw;
    height: 8vh;
    margin-top: -1vh;
    margin-left: 1.5vh;
    padding-top: 0%;
}
#botoesadicionais{
    display: flex;
}
#verTodos{
    width: 30vw;
    height: 4vh;
    background-color: var(--branco);
    margin-left: 32vw;
    float: left;
    margin-top: 5vw;
    border-radius: 30px 30px 30px 30px;
    text-decoration: none;
    color: black;
    
}
.textBtAdd{
    font-size: 1.4vh;
    padding-top: 0;
    margin-top: 1vh;
    text-align: center;
}