:root{
    --azul-fundo: #3069d5;
    --branco: #ffff;
    --preto: #0000;
}

@font-face {
    font-family: 'fontePadrao';
    src: url(fontes/behance-637fcad397009.ttf);
}

body{
    background-color: var(--azul-fundo);
}
#setaBack{
    width: 13vw;
    height: 10vh;
    float: left;
}
#setaBackImg{
    width: 6vw;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 2vw;
}
#casaIcon{
    width: 17vw;
    height: 10vh;
    margin-left: 28vw;
    margin-top: 2vh;
}

#titulo{
    color: var(--branco);
    font-size: 4vh;
    width: 60vw;
    text-align: center;
    margin-left: 20vw;
    font-family: "Elms Sans", sans-serif;


}
#mapa{
    width: 55vw;
    height: 30vh;
    background-color: var(--branco);
    margin-left: 23vw;
}

#descLocal{
    font-size: 3vh;
    width: 60vw;
    margin-left: 19vw;
    text-align: center;
    color: var(--branco);
    font-family: "Elms Sans", sans-serif;
}
#descLocal2{
    font-size: 3vh;
    width: 60vw;
    margin-left: 19vw;
    text-align: center;
    color: var(--branco);
    font-family: "Elms Sans", sans-serif;
}
#descLocal3{
    font-size: 3vh;
    width: 60vw;
    margin-left: 19vw;
    text-align: center;
    color: var(--branco);
    font-family: "Elms Sans", sans-serif;
}
#automoveis{
    margin-left: 2vw;
    display: block;
    width: 100%;
    height: 10vh;
}
.tituloautomoveis{
    font-size: 1.4vh;
    margin-top: 0%;
    padding-top: 1vh;
    text-align: center;
}
.atituloss{
    text-decoration: none;
    color: black;
}

.escolhasDeIr{
    width: 17vw;
    height: 10vh;
    background-color: var(--branco);
    margin-left: 5vw;
    float: left;
    font-family: "Elms Sans", sans-serif;
}
.imgsTransporte{
    width: 12vw;
    height: 6vh;
    margin-left: 1.5vh;
    margin-top: -2;
    padding-top: 0%;
}
#botoesadicionais{
    display: flex;
}
#maisInfo{
    width: 30vw;
    height: 4vh;
    background-color: var(--branco);
    margin-left: 12vw;
    position: absolute;
    margin-top: 5vw;
    border-radius: 30px 30px 30px 30px;
    font-family: "Elms Sans", sans-serif;
}
#verTodos{
    width: 30vw;
    height: 4vh;
    background-color: var(--branco);
    margin-left: 55vw;
    float: left;
    margin-top: 5vw;
    border-radius: 30px 30px 30px 30px;
    font-family: "Elms Sans", sans-serif;
    
}
.textBtAdd{
    font-size: 1.4vh;
    padding-top: 0;
    margin-top: 1vh;
    text-align: center;
}