:root{
    --azul-fundo: #3069d5;
    --branco: #ffff;
    --preto: #0000;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}
body {
    margin: 0;      /* Remove a margem externa padrão */
    background-color: var(--azul-fundo);
    width: 100%;
    height: 100vh;
}
#caixaTesteUm{
    width: 32%;
    height: 30vh;
    margin-top: 20vh;
}
#caixaTesteDois{
    width: 60%;
    height: 40vh;
    margin-top: 10vh;
}

#caixaTesteUm, #caixaTesteDois {
    display: inline-block;
    vertical-align: top; /* opcional para alinhar pelo topo */
}


/* css das caixas */
.btnIniciais{
    display: flex; /* Define um contêiner flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 22vw;
    height: 13vh;
    background-color: var(--branco);
    flex-direction: column; /* Coloca texto e imagem em coluna */
    text-align: center;     /* Centraliza o texto */

}
#btnInicialUm{
    margin-left: 5vw;

}

#btnInicialDois{
    margin-top: 5vh;
    margin-left: 5vw;
}

#btnInicialTres{
    margin-left: 5vw;
    margin-right: 6vw;
    float: left;
}

#btnInicialQuatro{
    margin-top: 5vh;
}

#btnInicialCinco{
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 6vw;
    float: left;
}

#btnInicialSeis{
    margin-top: 5vh;
}


.titulosBtn{
    margin-top: -1vh;
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
    color: black;
}

a{
    text-decoration: none;
}

/* css do titulo */

#txtPrincipal{
    color: var(--branco);
    font-size: 9vw;
    text-align: center;

}


.divTxtPrincipal {
    width: 80vw;
}

/* css das caixas de teste */
#caixaTesteTres{
    width: 55%;
    height: 40vh;
}

#caixaTesteQuatro{
    width: 32%;
    height: 30vh;
    margin-left: 5vw;
}

#caixaTesteTres, #caixaTesteQuatro {
    display: inline-block;
    vertical-align: top; /* opcional para alinhar pelo topo */
}

#btnInicialTres{
    margin-top: 5vh;
}

/* css do segundo titulo */

#txtSecundario{
    color: var(--branco);
    font-size: 4.5vw;
    text-align: center;
    margin-top: 18vh;

}

/* css do icone de som */
#segundoSom{
    width: 4vw;
    height: auto;
    display: flex;
    float: right;
}

/* css das imagens dentro dos botões */
.desenhos{
    width: 13vw;
    height: auto;
    margin-top: -1vh;
    
}

#imgCentro{
    width: 18vw;
    margin-top: -3vh;
    margin-bottom: -2vh;
}

#imgSaude{
    margin-left: 2.5vw;
}