:root{
    --azul-fundo: #3069d5;
    --branco: #ffff;
    --preto: #0000;
}

@font-face {
    font-family: 'fontePadrao';
    src: url(fontes/behance-637fcad397009.ttf);
}
body {
    margin: 0;      /* Remove a margem externa padrão */
    background-color: var(--azul-fundo);
    width: 100%;
    height: 1000vh;
    font-family: 'fontePadrao';
}
#caixaTesteUm{
    width: 32%;
    height: 30vh;
    margin-top: 20vh;
    background-color: palevioletred;
}
#caixaTesteDois{
    width: 60%;
    height: 40vh;
    margin-top: 10vh;
    background-color: rgb(216, 72, 120);
}

#caixaTesteUm, #caixaTesteDois {
    display: inline-block;
    vertical-align: top; /* opcional para alinhar pelo topo */
}


/* css das caixas */
.btnIniciais{
    display: flex; /* Define um contêiner flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 22vw;
    height: 13vh;
    background-color: var(--branco);
}
#btnInicialUm{
    margin-left: 5vw;
}

#btnInicialDois{
    margin-top: 5vh;
    margin-left: 5vw;
}

#btnInicialTres{
    margin-left: 5vw;
    margin-right: 6vw;
    float: left;
}

#btnInicialQuatro{
    margin-top: 5vh;
}

#btnInicialCinco{
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 6vw;
    float: left;
}

#btnInicialSeis{
    margin-top: 5vh;
}


.titulosBtn{
    margin-top: -8vh;
    text-align: center;
    font-size: 1.5vh;
}


/* css do titulo */

#txtPrincipal{
    font-family: 'fontePadrao';
    color: var(--branco);
    font-size: 10vw;
    text-align: center;

}


.divTxtPrincipal {
    width: 80vw;
}

/* css das caixas de teste */
#caixaTesteTres{
    width: 60%;
    height: 40vh;
    background-color: rgb(84, 27, 46);
}

#caixaTesteQuatro{
    width: 32%;
    height: 30vh;
    margin-left: 5vw;
    background-color: rgb(150, 50, 100);
}
