:root{
    --azul-fundo: #3069d5;
    --branco: #ffff;
    --preto: #0000;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}
body{
    background-color: var(--azul-fundo);
}
#setaBack{
    width: 13vw;
    height: 10vh;
    float: left;
}
#setaBackImg{
    width: 6vw;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

#titulo{
    color: var(--branco);
    font-size: 4vh;
    width: 90vw;
    text-align: center;
    margin-left: 5vw;
    margin-top: 10vh;
}
#descLocal{
    font-size: 2.5vh;
    width: 60vw;
    margin-left: 19vw;
    text-align: center;
    color: var(--branco);
}

#centroPop{
    display: flex; /* Define um contêiner flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 40vw;
    height: 25vh;
    margin-left: 30vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    background-color: var(--branco);
    flex-direction: column; /* Coloca texto e imagem em coluna */
    text-align: center;     /* Centraliza o texto */
}
#imgCentro{
    width: 30vw;
    margin-top: -3vh;
    margin-bottom: -2vh;
}


